#lint-result article {
    margin: 20px 10px;
}

#lint-result header {
    background: #ddd;
    color: #666;
    padding: 5px 10px;
}

#lint-result header .fa {
    float: right;
    cursor: pointer;
    margin-top: 3px;
    color: #2455A4;
}

#lint-result .info-list li {
    margin-top: 1px;
    padding: 3px 10px;
    list-style: none;
    background: #fff;
}

#lint-result .info-list li:hover {
    background: #f7f7f7;
}

#lint-result .info-list span {
    display: inline-block;
    width: 60px;
    text-align: center;
}

#lint-result .info-list i {
    font-style: normal;
    text-align: center;
    background: #ddd;
    color: #555;
    margin-right: 10px;
    display: inline-block;
    width: 140px;
}

#lint-result .code-panel {
    max-height: 300px;
    position: relative;
    overflow: auto;
    background: #e1e1e1;
}

#lint-result .code-panel pre {
    margin-left: 40px;
    font-size: 12px;
    font-family: 'Courier New';
    line-height: 18px;
    background: #555;
    color: #fff;
    padding: 0 5px;
}

.code-panel .info-tip {
    position: absolute;
    width: 40px;
    left: 0;
}

#lint-result .info-tip li {
    height: 18px;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    text-indent: 3px;
    position: relative;
    cursor: default;
}

#lint-result .info-tip li i {
    background: #fff;
    font-style: normal;
    display: none;
    position: absolute;
    top: 0;
    left: 18px;
    width: 550px;
}

#lint-result .info-tip li:hover i {
    display: block;
}

.info-tip .tip-warning {
    background: #f0ad4e;
}

.info-tip .tip-error {
    background: #e63a3a;
}
